.bottombar{

    height: 30%;
    width: 100%;
    position: fixed;
    z-index: 2;
    bottom: 0;
    background-color: white;
    overflow-x: hidden;
    padding-top: 20px;
    column-count: 5;
    column-gap: 40px;
    column-rule-style: solid;
    column-rule-color: lightblue;
}


.column{

}
